services:
  mongo:
    image: mongo:7
    container_name: vladtech-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: ./vladtech-backend
    container_name: vladtech-backend
    restart: unless-stopped
    depends_on:
      - mongo
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/vladtech
      SERVER_PORT: 8080
    volumes:
      - ./vladtech-backend/uploads:/app/uploads


  frontend:
    build:
      context: ./vladtech-frontend
    container_name: vladtech-frontend
    restart: unless-stopped
    depends_on:
      - backend
    ports:
      - "5173:80"

volumes:
  mongo_data:
