spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://dev-ljz84r2xvrlnftfv.ca.auth0.com/
          audience: https://vladtech/api
  data:
    mongodb:
      uri: mongodb://localhost:27017/vladtechdb
      database: vladtechdb
      auto-index-creation: true

  mongodb:
    embedded:
      version: 7.0.7

  mail:
    host: localhost
    port: 1025
    username:
    password:
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

de:
  flapdoodle:
    mongodb:
      embedded:
        version: 7.0.7

auth0:
  domain: dev-ljz84r2xvrlnftfv.ca.auth0.com

  mgmt:
    clientId: Go2EtdDcs46rt6k03FvgEyRHSjMLw5Yh
    clientSecret: gYK_qYkeWOMEComw24BiuG0d9PWQfDP-FcAsJGbGh_67zhnav_RBUeWCJ0FRSkcX
    audience: https://dev-ljz84r2xvrlnftfv.ca.auth0.com/api/v2/

  default:
    client:
      roleId: rol_gNdmo7yH2oEE4798

---

spring:
  config:
    activate:
      on-profile: test

  data:
    mongodb:
      uri: mongodb://localhost:27017/vladtechdb
      database: vladtechdb
      auto-index-creation: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ""
          audience: ""

