spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://dev-ljz84r2xvrlnftfv.ca.auth0.com/
          audience: https://vladtech/api
  data:
    mongodb:
      uri: mongodb://localhost:27017/vladtechdb
      database: vladtechdb
      auto-index-creation: true

  mongodb:
    embedded:
      version: 7.0.7

  mail:
    host: localhost
    port: 1025
    username:
    password:
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false
#  mail: #REAL CONFIG (USE THIS OR ANOTHER SIMILAR SETUP ON DEPLOY!!!!)
#    host: mail.smtp2go.com
#    port: 587
#    username:
#    password:
#    properties:
#      mail:
#        smtp:
#          auth: true
#          starttls:
#            enable: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

email:
  noreply: noreply@cle4rwater.ca

de:
  flapdoodle:
    mongodb:
      embedded:
        version: 7.0.7

auth0:
  domain: dev-ljz84r2xvrlnftfv.ca.auth0.com

  mgmt:
    clientId: Go2EtdDcs46rt6k03FvgEyRHSjMLw5Yh
    clientSecret: gYK_qYkeWOMEComw24BiuG0d9PWQfDP-FcAsJGbGh_67zhnav_RBUeWCJ0FRSkcX
    audience: https://dev-ljz84r2xvrlnftfv.ca.auth0.com/api/v2/

  roles:
    client: rol_gNdmo7yH2oEE4798
    employee: rol_dDfbZ0mc3vJjN0bR
    admin: rol_gdBXmIIoaesVnEBl

  default:
    client:
      roleId: rol_gNdmo7yH2oEE4798

renovation:
  rates:
    labor: 50.00
    overhead: 0.15
    contingency: 0.10
    tax: 0.13

---

spring:
  config:
    activate:
      on-profile: test

  data:
    mongodb:
      auto-index-creation: true


  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ""
          audience: ""

renovation:
  rates:
    labor: 50.00
    overhead: 0.15
    contingency: 0.10
    tax: 0.13

---

spring:
  config:
    activate:
      on-profile: ci

  autoconfigure:
    exclude:
      - de.flapdoodle.embed.mongo.spring.autoconfigure.EmbeddedMongoAutoConfiguration

  data:
    mongodb:
      uri: mongodb://localhost:27017/vladtechdb
      database: vladtechdb
      auto-index-creation: true

  mongodb:
    embedded:
      enabled: false

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ""
          audience: ""

renovation:
  rates:
    labor: 50.00
    overhead: 0.15
    contingency: 0.10
    tax: 0.13


