spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${AUTH0_ISSUER_URI}
          audience: ${AUTH0_AUDIENCE}
  data:
    mongodb:
      uri: mongodb://localhost:27017/vladtechdb
      database: vladtechdb
      auto-index-creation: true

  mongodb:
    embedded:
      version: 7.0.7

  mail:
    host: localhost
    port: 1025
    username:
    password:
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false
#  mail: #REAL CONFIG (USE THIS OR ANOTHER SIMILAR SETUP ON DEPLOY!!!!)
#    host: mail.smtp2go.com
#    port: 587
#    username:
#    password:
#    properties:
#      mail:
#        smtp:
#          auth: true
#          starttls:
#            enable: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

email:
  noreply: noreply@cle4rwater.ca

de:
  flapdoodle:
    mongodb:
      embedded:
        version: 7.0.7

auth0:
  domain: ${AUTH0_DOMAIN}

  mgmt:
    clientId: ${AUTH0_MGMT_CLIENT_ID}
    clientSecret: ${AUTH0_MGMT_CLIENT_SECRET}
    audience: ${AUTH0_MGMT_AUDIENCE}

  roles:
    client: ${AUTH0_ROLE_CLIENT}
    employee: ${AUTH0_ROLE_EMPLOYEE}
    admin: ${AUTH0_ROLE_ADMIN}

  default:
    client:
      roleId: ${AUTH0_ROLE_DEFAULT}

renovation:
  rates:
    labor: 50.00
    overhead: 0.15
    contingency: 0.10
    tax: 0.13

---

spring:
  config:
    activate:
      on-profile: test

  data:
    mongodb:
      auto-index-creation: true


  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ""
          audience: ""

renovation:
  rates:
    labor: 50.00
    overhead: 0.15
    contingency: 0.10
    tax: 0.13

---

spring:
  config:
    activate:
      on-profile: ci

  autoconfigure:
    exclude:
      - de.flapdoodle.embed.mongo.spring.autoconfigure.EmbeddedMongoAutoConfiguration

  data:
    mongodb:
      uri: mongodb://localhost:27017/vladtechdb
      database: vladtechdb
      auto-index-creation: true

  mongodb:
    embedded:
      enabled: false

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ""
          audience: ""

renovation:
  rates:
    labor: 50.00
    overhead: 0.15
    contingency: 0.10
    tax: 0.13

file:
  upload-dir: /data/uploads
