# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle, spin up MongoDB, and run integration tests.

name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    # MongoDB service for integration tests
    services:
      mongodb:
        image: mongo:7.0.7
        ports:
          - 27017:27017
        options: --quiet

    # Set default working directory for all steps in this job
    defaults:
      run:
        working-directory: vladtech-backend

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0
        with:
          build-root-directory: vladtech-backend

      - name: Grant execute permission for Gradle Wrapper
        run: chmod +x gradlew

      - name: Wait for MongoDB to start
        run: sleep 10

      - name: Build and run tests
        env:
          MONGO_URI: mongodb://mongodb:27017/vladtech-test
        run: ./gradlew clean test


  dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0
        with:
          build-root-directory: vladtech-backend
