name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    services:
      mongodb:
        image: mongo:7.0.7
        ports:
          - 27017:27017
        options: --quiet

    defaults:
      run:
        working-directory: vladtech-backend

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582
        with:
          build-root-directory: vladtech-backend

      - name: Grant execute permission for Gradle Wrapper
        run: chmod +x gradlew

      - name: Wait for MongoDB to start
        run: sleep 10

      - name: Build and run tests
        run: ./gradlew clean test -Dspring.profiles.active=test

  dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@af1da67850ed9a4cedd57bfd976089dd991e2582
        with:
          build-root-directory: vladtech-backend